#result{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    background:white;
    height:300px;
    width:300px;
    overflow: scroll;

}

#result .material-icons{
    display:inline-block !important;
    padding:15px;

}

#result span{
    display:none;
}